<LinkTo @route="author" @model={{@author.id}}><img src={{@author.image}} alt=""></LinkTo>
<div class="info">
  <LinkTo @route="author" @model={{@author.id}} class="author">{{@author.id}}</LinkTo>
  <span class="date">{{format-date @updatedAt}}</span>
</div>