<button
  class="btn btn-sm action-btn btn{{if (not @profile.following) "-outline"}}-secondary"
  onclick={{action this.followProfile (if @profile.following "unfollow" "follow")}}>
  <i class="ion-{{if @profile.following "minus" "plus"}}-round"></i>
  &nbsp;
  {{if @profile.following "Unf" "F"}}ollow {{@profile.id}}
</button>