{{!-- {
   "article":{
      "title":"ML",
      "slug":"ml-snnfj2",
      "body":"ds algo",
      "createdAt":"2019-03-29T06:51:35.455Z",
      "updatedAt":"2019-03-29T06:51:35.455Z",
      "tagList":[

      ],
      "description":"Machine Learning",
      "author":{
         "username":"DeadMau",
         "bio":null,
         "image":"https://static.productionready.io/images/smiley-cyrus.jpg",
         "following":false
      },
      "favorited":false,
      "favoritesCount":1
   }
} --}}

<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{this.model.title}}</h1>
      <ArticleMeta @article={{this.model}} />
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        {{this.model.safeMarkup}}
      </div>
    </div>
    <hr>
    <div class="article-actions">
      <ArticleMeta @article={{this.model}} />
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <CommentsSection @article={{this.model}} />
      </div>
    </div>
  </div>
</div>